<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MAC_AudioUnitPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E651A671EDFF10F00D76D46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E651A7D1EDFF10F00D76D46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E651A881EDFF10F00D76D46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
